<%= render "devise/shared/content", title: "Confirmation instructions" do %>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input input-bordered w-full max-w-xs mb-3" %>
    </div>

    <div class="mt-2 w-full">
      <%= f.submit "Resend confirmation instructions", class: "btn btn-primary"%>
    </div>
  <% end %>
<% end %>