<!DOCTYPE html>
<html data-theme="dark">
<head>
  <title>Chef</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body data-controller="navigation">
  <% if user_signed_in? %>
  <div class="block md:hidden">
    <!-- Content for mobile -->
    <%= yield %>
    <%= render "shared/mobile-menu" %>
  </div>

  <div class="hidden md:block">
    <!-- Content for desktop -->
    <div class="bg-state-200 sticky top-0 p-2 overflow-hidden">
      <%= render "shared/header" %>
    </div>
    <div class="flex relative">
      <div id="nav-container" data-navigation-target="nav" class="sticky h-[calc(100vh-64px)] px-2 transform transition-transform duration-300 ease-in-out hidden" style="top: 4rem">
        <%= render "shared/navigation" %>
      </div>
      <div id="main-container" data-navigation-target="main" class="container center mx-auto transform transition-transform duration-300 ease-in-out">
        <%= yield %>
      </div>
    </div>
  </div>
  <% else %>
    <!-- if the user isn't authenticated, we assume we are in the auth process-->
    <%= yield %>
  <% end %>
</body>
</html>
